@font-face { 
  font-family: 'Roboto'; 
  font-style: normal; 
  font-weight: 400; 
  font-display: swap;
  src: local('Roboto'), 
    url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Regular.woff') format('woff'); 
} 

@font-face { 
  font-family: 'Roboto'; 
  font-style: normal; 
  font-weight: 700; 
  font-display: swap;
  src: local('Roboto'), 
    url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Bold.woff') format('woff'); 
} 

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000;
  --color-burning-orange: #ff7043;
  --color-cindirella: #fde7da;
  --color-white: #fff;
}

.page {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  background-color: var(--color-black);
}

.header__container {
  display: flex;
  align-items: center;
  padding: 22px 0 20px;
}

.header__left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  margin-right: 66px; 
}

.logo__img {
  width: 112px;
}

.mail {
  display: block;
  border-radius: 4px;
  padding: 7px 11px 6px 8px;
  background-color: rgba(255, 255, 255, 0.12);
  color: var(--color-white);
  font-size: 16px;
  line-height: 24px;
}

.nav {
  display: flex;
}

.nav__link {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.header__btn {
  display: block;
  border-radius: 6px;
  background: var(--color-burning-orange);
  color: var(--color-black);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

